<div class="container">
  <h1>Learn Angular</h1>
  <!-- Bootstrap-->
  <h3 style="color: blue">Bootstrap Testi</h3>
  <button class="btn btn-primary">Deneme</button>
  <hr />
  <!-- Two Data Binding-->
  <h3 style="color: blue">Two Data Binding</h3>
  <h2>{{ name }}</h2>
  <h2>{{ age }}</h2>
  <h3 [innerText]="name"></h3>
  <input type="text" [value]="name" />
  <hr />

  <!-- Event Binding-->
  <h3 style="color: blue">Event Binding</h3>
  <button (click)="metot()">Tıkla</button>
  <hr />

  <!-- JS Kullanarak HTML Elementlerinin Değerini Yakalama-->
  <h3 style="color: blue">
    JS Kullanarak HTML Elementlerinin Değerini Yakalama
  </h3>
  <input id="name" (keyup)="getValue()" />
  <hr />

  <!-- $Event ile Elementlerinin Değerini Yakalama-->
  <h3 style="color: blue">$Event ile Elementlerinin Değerini Yakalama</h3>
  <input id="name" (keyup)="getValueEvent($event)" /><br />
  <hr />

  <!-- ViewChild Function ile Element Değerini Yakalama-->
  <h3 style="color: blue">ViewChild Function ile Element Değerini Yakalama</h3>
  <input id="name" #name (keyup)="getValueViewChild()" /><br />
  <hr />

  <!--ngModel ile Elemente Değer Atama ve Değer Yakalama-->
  <h3 style="color: blue">
    ngModel ile Elemente Değer Atama ve Değer Yakalama
  </h3>
  <input id="ngModelname" [(ngModel)]="ngModelname" />
  <button (click)="getValueNgModel()">Tıkla</button>
  <hr />

  <!-- Project-->
  <app-test></app-test>
  <hr />
  <!-- Routing-->
  <app-test-2></app-test-2>
  <hr />
</div>
